

{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Наша ЦРМ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">

</head>
<body>

    <!-- Заголовок сайта -->
    <header>
        <div class="container">
            <h1><a href="{% url 'home' %}">Наша ЦРМочка</a></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'client_list' %}">Клиенты</a></li>
                    <li><a href="{% url 'note_list' %}">Задачи (заметки)</a></li>
                    <li><a href="{% url 'note_create' %}">Создать задачу (заметку)</a></li>
                    <li><a href="{% url 'call_list' %}">Журнал звонков</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Статус подключения к Asterisk -->
    <div id="json-data">Loading...</div>

    <!-- Основное содержимое страницы -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- Подвал -->
   <footer>
    <div class="container">
        <p>&copy; 2025 Моя срм. Все права защищены.</p>
    </div>
</footer>

<!-- JavaScript для обновления статуса Asterisk -->
<script>
        // Функция для получения и отображения JSON данных
        async function fetchAndDisplayJSON() {
            try {
                const response = await fetch('/clients/api/asterisk_status/');  // Путь к вашему API
                const data = await response.json();  // Преобразуем ответ в JSON

                // Проверяем, что в JSON есть поле 'asterisk_status'
                if (data.asterisk_status !== undefined) {
                    // Отображаем JSON на странице
                    document.getElementById('json-data').innerHTML = `<pre>${JSON.stringify(data, null, 2)}</pre>`;
                } else {
                    document.getElementById('json-data').textContent = 'Invalid response from server.';
                }
            } catch (error) {
                console.error('Error fetching JSON:', error);
                document.getElementById('json-data').textContent = 'Error loading JSON data.';
            }
        }

        // Инициализация при загрузке страницы
        fetchAndDisplayJSON();
        setInterval(fetchAndDisplayJSON, 7000);  // 7000 миллисекунд = 7 секунд
    </script>

{% block extra_js %}{% endblock %}

</body>
</html>

