# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env

# Ignore Git and other local files
.git
.gitignore
*.log

# Ignore Django static and media files
/static/
.media/

# Ignore IDE configurations
*.idea
*.vscode
