{% extends 'base.html' %}

{% block title %}Add New Client{% endblock %}

{% block content %}
<h1>Add New Client</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        <label for="id_name">Name</label>
        <input type="text" name="name" id="id_name" value="{{ form.name.value }}">
    </div>

    <div>
        <label for="id_image">Image</label>
        <input type="file" name="image" id="id_image">
    </div>

    <div>
        <label for="id_is_active">Active</label>
        <input type="checkbox" name="is_active" id="id_is_active" {% if form.is_active.value %}checked{% endif %}>
    </div>

   <div>
        <label for="id_contact_info_phone">Phone</label>
        <input type="text" name="contact_info_phone" id="id_contact_info_phone" placeholder="Enter your phone number" value="{{ form.contact_info_phone.value }}">
    </div>

    <div>
        <label for="id_contact_info_email">Email</label>
        <input type="email" name="contact_info_email" id="id_contact_info_email" value="{{ form.contact_info_email.value }}">
    </div>

    <div>
        <label for="id_contact_info_address">Address</label>
        <input type="text" name="contact_info_address" id="id_contact_info_address" value="{{ form.contact_info_address.value }}">
    </div>

    <button type="submit">Add Client</button>
</form>
<br>
<a href="{% url 'client_list' %}">Back to Client List</a>
{% endblock %}
